.Search{
    display: flex;
    align-items: center;
    padding: 2px;
    border-radius: 20px;
    overflow: hidden;
    background: var(--color-bg);
    margin: 6px 0;
    
    i{
        padding:10px;
        font-size: 15px;
        color: var(--color-gray);
    }

    input{
        padding: 4px;
        border: none;
        outline: none;
        margin: 0 5px 0 0 ;
        background: transparent;
        color: var(--color-gray);
    }
    
    input::placeholder{
        color: var(--color-gray);
        font-size: 15px;
    }
}